.categories{
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 70vh;

    .top{
        width: 100%;
        max-width: 90%;
        margin: 0 auto;

        form{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            .search{
                 display: flex;
                 align-items: center;
                 gap: 1rem;
                 border:  1px solid  #DAE4D7;;
                 border-radius: 30px;
                 padding: 1rem;
                 width: 80rem;

                 input{
                    border: none;
                    outline: none;
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 178.19%;
                    letter-spacing: -0.035em;
                    color: #70737C;
                    max-width: 100%;
                 }

                 i{
                    color: #70737C;
                    font-size: 1.6rem;
                    padding-left: 2rem;
                 }
            }
        }
    }

    .categ{
        width: 100%;
        margin: 0 auto;
        max-width: 90%;
        padding-top: 3rem;
        ul{
            display: flex;
            align-items: center;
            width: 100%;
            overflow: scroll;
            gap: 3rem;

            &::-webkit-scrollbar{
                display: none;
            }


            li{
                // width: 100%;
                max-width: 90%;
                font-family: 'Lexend';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 178.19%;
                text-align: center;
                text-transform: uppercase;
                padding: 1.5rem;
                border: 1px solid  #DAE4D7;;
                color: #1F2533;
                border-radius: 10px;
                cursor: pointer;
                
            }
        }
    }

    .main{
        width: 100%;
        margin: 0 auto;
        max-width: 90%;
        // display: grid;
        // grid-template-columns: 1fr 3fr;
        padding-top: 5rem;
        gap: 2rem;

        h3{
            font-family: 'Lexend';
            font-style: normal;
            font-weight: 500;
            font-size: 3rem;
            line-height: 178.19%;
            letter-spacing: -0.035em;
            // padding-bottom: 3rem;
            color: #1F2533;
        }


        // .left{
        //     display: flex;
        //     flex-direction: column;
        //     ul{
        //         display: flex;
        //         flex-direction: column;
        //         gap: 2rem;

        //         li{
        //             display: flex;
        //             flex-direction: column;
        //             gap: 1rem;

        //             h1{
        //                 font-family: 'Lexend';
        //                 font-style: normal;
        //                 font-weight: 400;
        //                 font-size: 14px;
        //                 line-height: 178.19%;
        //                 text-transform: capitalize;
        //                 color: #70737C;
        //             }
        //         }

        //         .border{
        //             border: .6px solid #d7dae1;
        //             width: 15rem;
        //         }
        //     }
        // }

        .right{
             display: flex;
             flex-direction: column;
             padding-top: 3rem;
           ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 1rem;

            li{
                display: flex;
                flex-direction: column;
                border: 1px solid #d7dae1;
                padding: 1rem;
                width: 22rem;
                gap: 1rem;

                img{
                    width: 188px;
                    height: 188px;
                    align-self: center;
                }

                h3{
                    font-family: 'Lexend';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 25px;
                    letter-spacing: -0.04em;
                    text-transform: capitalize;
                    color: #1F2533;
                    
                }

                p{
                    max-width: 18rem;
                    color: #1F2533;
                }
            }
           }
        }
    }
}


@media (max-width: 1200px) {
     .categories{
          .main{
              .right{
                ul{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
              }
          }
     }
}


@media (max-width: 960px) {
    .categories{
         .main{
             .right{
               ul{
                   grid-template-columns: 1fr 1fr 1fr;
               }
             }
         }
    }
}

@media (max-width: 760px) {
    .categories{
         .main{
             .right{
               ul{
                   grid-template-columns: 1fr 1fr;
               }
             }
         }
    }
}

@media (max-width: 500px) {
    .categories{
         .main{
             .right{
               ul{
                   grid-template-columns: 1fr;
               }
             }
         }
    }
}